<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">Left Sidebar</li>
        </ul>	
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">
    <header class="page-header">
        <div class="container">
            <h1 class="title">Products</h1>
        </div>	
    </header>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">                  
                    <div class="web-design col-sm-1 col-md-3" ng-repeat="product in products">
                        <a href="#/products/{{product.id}}" class="work">
                            <img ng-src="{{product.imageUrl}}" width="370" height="270" alt="">
                            <span class="shadow"></span>
                            <div class="bg-hover"></div>
                            <div class="work-title">
                                <h3 class="title">{{product.name}}</h3>
                                <div class="description">{{product.snippet}}</div>
                            </div>
                        </a>
                    </div>

                </div><!-- .container -->
            </div>
        </div><!-- .container -->
</section><!-- #main -->
