<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">Contacts Us</li>
        </ul>	
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">

    <div class="container">
        <div class="row rowshadow">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">Contacts Us</h1>
                </div>	
            </header>
            <div class="content col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-md-6 contact-info bottom-padding">
                        <address>
                            <div class="title">Thalassery</div>
                            Das Building<br>GoodShed Road<br> Thalassery - 670101
                        </address>
                        <div class="row">
                            <address class="col-sm-6 col-md-6">
                                <div class="title">Phones</div>
                                <div>Land Line: +91(490) 2321922</div>
                                <div>Fax: +91(490) 2321085</div>
                            </address>
                            <address class="col-sm-6 col-md-6">
                                <div class="title">Email Addresses</div>
                                <div>Support: <a href="mailto:grssalesco@gmail.com">grssalesco@gmail.com</a></div>
                            </address>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-6 col-md-6 contact-info bottom-padding">
                        <address>
                            <div class="title">Kannur</div>
                            Land Mark Complex <br>Alavil<br> Kannur -670008
                        </address>
                        <div class="row">
                            <address class="col-sm-6 col-md-6">
                                <div class="title">Phones</div>
                                <div>Land Line: +91(497)2744665</div>
                                <div>Mobile: +91-9845893027</div>
                            </address>
                            <address class="col-sm-6 col-md-6">
                                <div class="title">Email Addresses</div>
                                <div>Support: <a href="mailto:grssalesco@gmail.com">grssalesco@gmail.com</a></div>
                            </address>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        
        <div  ng-controller="ContactController">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">Send Enquiry</h1>
                </div>	
            </header>
            <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                    <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                    <div class="col-lg-10">
                        <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                    <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
            <div ng-class="result" class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{resultMessage}}.!</strong> 
            </div>
        </div>
        </div>
    </div><!-- .container -->
</section><!-- #main -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>