<div class="page-box">
    <section id="main">
        <div class="content-404">
            <header class="title">
                <h1>404</h1>
            </header>
            <div class="content">
                <h2>Page not found</h2>
                <a href="index.html" class="btn btn-lg btn-white back-home"><i class="fa fa-home"></i> Back to homepage</a>
            </div>
        </div>
    </section>
</div>