<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">About Us</li>
        </ul>	
    </div>
</div><!-- .breadcrumb-box -->

<section id="main">
    <div class="container">
        <div class="row rowshadow">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">About Us</h1>
                </div>	
            </header>
            <div class="content col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 bottom-padding">
                        <p> GRS is a firm which deals with the home decors. It provides an ample solution to the home furnishings. A wide variety of
                            international company products are available to choose from. The policy ensures a complete customer satisfaction with the supply of best quality products.The international varieties of the products are the best in the town. The product is of high quality.</p>
                        <p>GRS has two showrooms in Kerala .It focuses on expanding more in coming days. The showrooms are well furnished with proper air circulation
                            and customer friendly environment. The customers get a chance to come and check various products easily and comfortably with friendly staffs.
                            The service been provided has been great till date. The vision of the firm is to reach the customers in wider range in order to provide more options.
                            It represents renowned and reputed brand of products such as Wall Tiles, Floor Tiles, Sanitary Ware, Bathroom Fittings, Plumbing Materials and Kitchen Accessories catering to the construction and consumer sector.</p>
                        <blockquote class="no-margin">
                            <p>More Contents Goes here .</p>
                        </blockquote>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-8 bottom-padding">
                        <div class="video-box vimeo">
                            <!--                            <iframe src="//player.vimeo.com/video/67957799" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="bottom-padding col-sm-4 col-md-4">
                        <div class="title-box">
                            <h2 class="title">Our Vision</h2>
                        </div>
                        <p>GRS Sales corporation has a vision to be trusted and be the favorite brand in terms of quality, innovations and reliability .</p>
                    </div>
                    <div class="bottom-padding col-sm-4 col-md-4">
                        <div class="title-box">
                            <h2 class="title">Our Mission</h2>
                        </div>
                        <p>Our mission is to achieve ultimate quality, perfection with customer satisfaction with our honest approach, teamwork, timely solution and to explore the coming technology and innovations for the betterment of the customer needs.
                        </p>
                    </div>
                    <div class="bottom-padding col-sm-4 col-md-4">
                        <div class="title-box">
                            <h2 class="title">Our Clients</h2>
                        </div>
                        <p></p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>


            <header class="page-header">
                <div class="container">
                    <h1 class="title">Submit Testimonial</h1>
                </div>	
            </header>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Full Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Testimonial</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
            <div>
            <brand-carasol></brand-carasol>
            </div>
        </div>

    </div>




</section><!-- #main -->
