<div>
    <div class="primary">
        <div class="navbar navbar-default" role="navigation">
            <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse">
                <span class="text">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <nav class="collapse collapsing navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a class="scroll"  href="#/home">Home</a></li>
                    <li><a class="scroll" href="#/Aboutus">About Us</a></li>
                    <li><a class="scroll" href="#/newsandevents">History</a></li>
                    <li><a class="scroll" href="#/Brands">Brands</a></li>
                    <li><a class="scroll" href="#/products">Products</a></li>
                    <li><a class="scroll" href="#/showroom">Show Room</a></li>
                    <li><a class="scroll" href="#/ContactUs">Contact Us</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>