<section id="main">
    <article class="content">
        <div class="container">
            <div class="row rowshadow">
                <div class="container" style="height:350px">

                </div>
                <div class="content-block bottom-padding text-center bg">
                    <p class="lead">Welcome and thank you for taking the time to visit our newly redesigned website.We’re excited you’re here and that we have a shiny web site to share with you. </p>
                    <a href="#/Brands"><div class="btn btn-default">View Brands</div></a>
                    <a href="#/products"><div class="btn btn-default">View Products</div></a>
                </div>
            
            <div class="clearfix"></div>
            <div class="title-box">
                <h2 class="title">Our Services</h2>
            </div>
            <div class="services">
                <div class="col-sm-3 col-md-3 text-small features-block">
                    <a class="header-box" >
                        <div class="icon-box">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h6>Installation service</h6>
                    </a>
                    <div>We select and supply you a craftsman to install your tiles.Our installation service includes Measuring,Surface Preparation,Tile Cutting 
                        with Professional Equipment,Tile Laying with Correct Adhesives,Tile Resurfacing,Tile Removal ,Tile Cleaning and Polishing and more.</div>
                </div><!-- .features-block -->

                <div class="col-sm-3 col-md-3 text-small features-block">
                    <a class="header-box" href="#">
                        <div class="icon-box">
                            <i class="fa fa-edit"></i>
                        </div>
                        <h6>Free Consultation</h6>
                    </a>
                    <div>We assist our client to materialize their design vision.Our team of interior designers is available for one-to-one consultations.</div>
                </div><!-- .features-block -->

                <div class="col-sm-3 col-md-3 text-small features-block">
                    <a class="header-box" href="#">
                        <div class="icon-box">
                            <i class="fa fa-gears"></i>
                        </div>
                        <h6>Onsite Delivery</h6>
                    </a>
                    <div>When you choose GRS, you receive free, on-site scheduled delivery anywhere inside Kannur and Thalassery and also nearby localities,
                        and reasonably priced deliveries outside of these places.So you can choose GRS for the best deliver, at the best price.</div>
                </div><!-- .features-block -->

                <div class="col-sm-3 col-md-3 text-small features-block">
                    <a class="header-box" href="#">
                        <div class="icon-box">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <h6>Return and Refund </h6>
                    </a>
                    <div>You may bring back any of your FLOR products that is unused for a refund. Returned product must be fresh and in its original condition.Some of our Products are 
                        classified as Special Order which means that products are custom built or specially ordered for individual customers these sales are final and are non-refundable.</div>
                </div><!-- .features-block -->
            </div>
            <div class="clearfix"></div>
            <div class="title-box">
                <h2 class="title">Client Testimonial</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 respond respond-blockquote border bottom-padding-mobile">
                    <div class="description border-info">
                        <blockquote>
                            I just wanted to comment on the wonderful service we received from the fantastic Thalassery showroom. I would also like to thank all sales staffs, who dealt  with me in a friendly  way
                            they did not try to push me in to buying something I could not afford.
                        </blockquote>
                    </div>
                    <div class="name">
                        <div class="icon">
                            <img class="img-circle" src="img/content/avatar-1.jpg" alt="">
                        </div>

                        <strong>John Doe</strong>
                        <div>Designer, Infostyle</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 respond respond-blockquote border bottom-padding-mobile">
                    <div class="description border-info">
                        <blockquote>
                            Many thanks for the way you dealt with my request to return products recently purchased at your Thalassery showroom.
                            We are extremely pleased and pleased with this shop and would definitely suggest them to everyone.
                        </blockquote>
                    </div>
                    <div class="name">
                        <div class="icon">
                            <img class="img-circle" src="img/content/avatar-1.jpg" alt="">
                        </div>

                        <strong>John Doe</strong>
                        <div>Designer, Infostyle</div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 respond respond-blockquote border bottom-padding-mobile">
                    <div class="description border-info">
                        <blockquote>
                            They have the best choice in bathroom accessories. They offer best range in accessories from leading brand in the market and offer best rates for the same.
                            I told them my budget and they helped me to find the perfect items.
                        </blockquote>
                    </div>
                    <div class="name">
                        <div class="icon">
                            <img class="img-circle" src="img/content/avatar-1.jpg" alt="">
                        </div>

                        <strong>John Doe</strong>
                        <div>Designer, Infostyle</div>
                    </div>
                </div>
            </div>
            
        </div>

    </article>
</section>
<script>
    $("#slider4").responsiveSlides({
        auto: false,
        pager: false,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function() {
            $('.events').append("<li>before event fired.</li>");
        },
        after: function() {
            $('.events').append("<li>after event fired.</li>");
        }
    });
</script>
