<div class="breadcrumb-box">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a> </li>
      <li class="active">Show Room</li>
    </ul>	
  </div>
</div><!-- .breadcrumb-box -->

<section id="main">
  <header class="page-header">
    <div class="container">
      <h1 class="title">Show Room</h1>
    </div>	
  </header>
  <div class="container">
   Will be implemented later
  </div><!-- .container -->
</section><!-- #main -->
