<!DOCTYPE html> 
<html data-ng-app="vooelaApp" ng-controller="mainController">
	<head>
		<title>GRS Sales Corporaation</title>
		<meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>GRS Sales Corporation - {{ seo.pageTitle}}</title>
        <meta name="description" content="{{ seo.metaDescription}}">
        <meta name="description" content="GRS is a firm which deals with the home decors. It provides an ample solution to the home furnishings. A wide variety of international company products are available to choose from.">
        <meta name="keywords" content="Wall Tiles,Wall & Floor,	Indoor Wall Tiles,Outdoor Wall Tiles,Lawn & Terrace Tiles,Indoor Floor Tiles,Laminated Floors,Bathroom Accessories
              Taps,Showers,Mirrors,Sanitary Wares,Closets,Basins,Plumbings,Pumps,Tanks,Pipes,Cp Fittings,Kitchen,Faucets,Kitchen Sinks">
        <meta name="description" content="">
        <meta name="author" content="vooela.com">
        <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="assets/css/vendor.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
                <link rel="stylesheet" type="text/css" href="assets/css/grs-app.css" />
                <link rel="stylesheet" type="text/css" href="assets/css/responsive.min.css" />
                
                <link rel="stylesheet" type="text/css" href="assets/css/pages.css" />
                <link rel="stylesheet" type="text/css" href="assets/css/home-pages-customizer.css" />
                
                
                
		<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              <link rel='stylesheet' href="css/ie/ie8.min.css">
        <![endif]-->
	</head>
	<body class="fixed-header">
        <div class="page-box">
            <div class="page-box-content">
                <header class="header header-two">
                    <div class="header-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6 col-md-2 col-lg-3 logo-box">
                                    <div class="logo">
                                        <a href="/home">
                                            <img src="assets/img/logo.svg" class="logo-img" alt="">
                                        </a>
                                    </div>
                                </div><!-- .logo-box -->

                                <div class="col-xs-6 col-md-10 col-lg-9 right-box">
                                    <div class="right-box-wrapper">
                                        <main-menu></main-menu>
                                        <!-- .primary -->
                                    </div>
                                </div>

                                <div class="phone-active col-sm-9 col-md-9">
                                    <a href="#" class="close"><span>close</span>×</a>
                                    <span class="title">Call Us</span> <strong>+91-9895606517</strong>
                                </div>
                            </div><!--.row -->
                        </div>
                    </div><!-- .header-wrapper -->
                </header><!-- .header -->
                <div ng-view></div>
            </div><!-- .page-box -->

            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row sidebar">
                            <aside class="col-xs-12 col-sm-6 col-md-3 widget social">
                                <div class="title-block">
                                    <h3 class="title">Follow Us</h3>
                                </div>
                                <p>Stay In Touch</p>
                                <a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="#"></a>
                                <a class="sbtnf sbtnf-rounded color color-hover icon-twitter" href="#"></a>
                                <a class="sbtnf sbtnf-rounded color color-hover icon-gplus" href="#"></a>
                                <a class="sbtnf sbtnf-rounded color color-hover icon-linkedin" href="#"></a>
                                <div class="clearfix"></div>
                            </aside>
                        </div>
                    </div>
                </div><!-- .footer-top -->
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="copyright col-xs-12 col-sm-3 col-md-3">
                                Copyright © GRS Sales Corporation, 2014
                            </div>
                            <!--  <div class="phone col-xs-6 col-sm-3 col-md-3">
                                  <strong class="title">Powered By </strong><a target="_new" href="http://www.vooela.com"> Vooela Technologies</a><br>
                                  </div>-->
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#" class="up">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- .footer-bottom -->
            </footer>
            <div class="clearfix"></div>
            <div id="fb-root"></div>
            <script>
                    (function(d, s, id) {

                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-55467909-1', 'auto');
                    ga('send', 'pageview');
            </script>
    
		<script type="text/javascript" src="vendor.min.js"></script>
		<script type="text/javascript" src="grs.min.js"></script>
	</body>
		
	
</html>
