<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">History</li>
        </ul>	
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="row rowshadow">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">History</h1>
                </div>	
            </header>

            <div class="timeline">
                <article class="post">
                    <div class="timeline-time">
                        <time datetime="2014-06-23">1960s</time>
                    </div>

                    <div class="timeline-icon">
                        <div class="livicon" data-n="pen" data-c="#fff" data-hc="0" data-s="22"></div>
                    </div>

                    <div class="timeline-content" data-appear-animation="fadeInLeft">
                        <h2 class="entry-title">
                            <a href="#">Content</a>
                        </h2>
                        <div class="entry-content">
                            Ranjini Textiles, Kannur, had its beginning in 1960s with Shri.C.Govindan, a humble weaver, with just 5 Handlooms started supplying his
                            products to the local customers. The general demand for cloth was on the increase and the traditional Handloom fabric, produced by the 
                            skilled weavers of Kannur began getting good acceptance with the Customers locally and also up countries.
                        </div>
                    </div>
                </article><!-- .post -->

                <article class="post">
                    <div class="timeline-time">
                        <time datetime="2014-06-23">1970s</time>
                    </div>

                    <div class="timeline-icon">
                        <div class="livicon" data-n="pen" data-c="#fff" data-hc="0" data-s="22"></div>
                    </div>

                    <div class="timeline-content" data-appear-animation="fadeInLeft">
                        <h2 class="entry-title">
                            <a href="#">Ranjini Textiles</a>
                        </h2>
                        <div class="entry-content">
                            The ‘Crepe’ boom in the late 1970s gave further impetus to the business. The family felt that it was high time that a new company is established.
                            Thus came the Ranjini Textiles, Kannur. The New Company in the able hands of Shri C.Govindan and the active follow up of production by his two sons Shri.C.Rajeevan and Shri.Sajeevan,
                            started supplying to Merchant Exporters in India.The repeat orders received from the local exporters meant that the company’s product quality is acceptable with the
                            Customers abroad.
                        </div>
                    </div>
                </article><!-- .post -->
                <article class="post">
                    <div class="timeline-time">
                        <time datetime="2014-06-23">1995</time>
                    </div>

                    <div class="timeline-icon">
                        <div class="livicon" data-n="pen" data-c="#fff" data-hc="0" data-s="22"></div>
                    </div>

                    <div class="timeline-content" data-appear-animation="fadeInLeft">
                        <h2 class="entry-title">
                            <a href="#">Content</a>
                        </h2>

                        <div class="entry-content">
                            The first export was executed in 1995, to Japan. With innovative ideas in designing, we progressed each year to cater to our clients in Europe, USA, Australia, and Asian countries.
                        </div>
                    </div>
                </article><!-- .post -->
                <article class="post">
                    <div class="timeline-time">
                        <time datetime="2014-06-23">18,Dec,2011</time>
                    </div>

                    <div class="timeline-icon">
                        <div class="livicon" data-n="pen" data-c="#fff" data-hc="0" data-s="22"></div>
                    </div>

                    <div class="timeline-content" data-appear-animation="fadeInLeft">
                        <h2 class="entry-title">
                            <a href="#">Launch GRS Sales Corporation</a>
                        </h2>

                        <div class="entry-content">
                            GRS Sales Corporation is established under the initiative of a business pioneer with an experience of more than 30 years.
                        </div>
                    </div>
                </article>
            </div>
        </div>
</section>