<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">Brands</li>
        </ul>	
    </div>
</div><!-- .breadcrumb-box -->
<section id="main">

    <div class="container">
        <div class="row rowshadow">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">Our Brands</h1>
                </div>	
            </header>
            <article class="content col-sm-12 col-md-12">
                <div class="clearfix"></div>
                <div class="bottom-padding bottom-padding-min">
                    <div class="clearfix"></div>	
                    <div class="row text-center">
                        <div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/cera.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">CERA</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">CERA</h3>
                                <div class="image">
                                    <img src="assets/img/brands/cera.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Cera is a pioneer in the sanitaryware segment in India from 1980. CERA is one of the top sellers for Sanitary ware, Wash basins, Faucets, Wellness, Kitchen Sinks, Mirrors and tiles.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.cera-india.com" target="_new">www.cera-india.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/parryware.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Parryware</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Parryware</h3>
                                <div class="image">
                                    <img src="assets/img/brands/parryware.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Parryware was originated from EID Parry, one of the oldest business entities in India.Later, Murugappa group took over EID parry from many of it’s institutions, Parryware was one of them.
                                        Parryware lead it’s way in the sanitaryware industry and became dominant in south and later capturing the same nationwide. </p>
                                    <div class="contact"><b>Website: </b><a href="http://www.parryware.in" target="_new">www.parryware.in</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/johnson.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Johnson</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Johnson</h3>
                                <div class="image">
                                    <img src="assets/img/brands/johnson.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Over the past five decades, HRJ has added various product categories to offer complete solutions to its customers. Today, HRJ enjoys the reputation
                                        of being the only entity in India to offer end-to-end solutions of Tiles, Sanitaryware, Bath Fittings and Kitchens.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.hrjohnsonindia.com" target="_new">www.hrjohnsonindia.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/somany.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Somany</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Somany</h3>
                                <div class="image">
                                    <img src="assets/img/brands/somany.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>With A Sphere Of Influence Spanning India, Africa, South Africa, The Middle East, United Kingdom And Russia And Over Four Decades Of Spearheading Industry Innovation In Ceramics And Allied Products Segment, Somany Ceramics Has Established Its Presence As A Leading And Formidable Force In The Indian Tiles Sector.</p>
                                    <div class="contact"><b>Website: </b><a href="https://www.somanyceramics.com/" target="_new">www.somanyceramics.com/</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/ark.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">ARK</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">ARK</h3>
                                <div class="image">
                                    <img src="assets/img/brands/ark.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Crystal is a one stop shop for a multitude of Water Deliverance Solutions for the Indian market. We specialize in making Brass faucets for bathrooms and kitchens, our trusted brand ARK being a generic name for Chrome Plated taps in many parts of India, for over forty years. </p>
                                    <div class="contact"><b>Website: </b><a href="https://www.crystalfaucets.com/" target="_new">www.crystalfaucets.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/sunraj.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">ARK</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">ARK</h3>
                                <div class="image">
                                    <img src="assets/img/brands/sunraj.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Crystal is a one stop shop for a multitude of Water Deliverance Solutions for the Indian market. We specialize in making Brass faucets for bathrooms and kitchens, our trusted brand ARK being a generic name for Chrome Plated taps in many parts of India, for over forty years. </p>
                                    <div class="contact"><b>Website: </b><a href="http://www.sunrajceramic.com/" target="_new">www.sunrajceramic.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/glare.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Glare Ceramic</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Ultra Tiles</h3>                                
                                <div class="image">
                                    <img src="assets/img/brands/glare.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Ultra Designer Tiles offers wide range of designs more than 50 designs in floor, 15 in wall and 10 in step & raiser. The designs are unique and all the designs registered under the designs act.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.glareceramic.com/" target="_new">www.glareceramic.com</a></div>

                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/ultra.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Ultra Tiles</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Ultra Tiles</h3>                                
                                <div class="image">
                                    <img src="assets/img/brands/ultra.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Ultra Designer Tiles offers wide range of designs more than 50 designs in floor, 15 in wall and 10 in step & raiser. The designs are unique and all the designs registered under the designs act.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.ultratile.com" target="_new">www.ultratile.com</a></div>

                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/pulsar.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Pulsar Ceramics</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Pulsar Ceramics</h3>
                                <div class="image">
                                    <img src="assets/img/brands/pulsar.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Pulser Ceramis is presenting a very wide range of digital tiles with different colurs, deisgn, special effect and concepts.
                                        They are doing lot of hard work and R & D for new ara in the field of digital tiles manufacturing. At new concepts in our new introduce Digital Tiles.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.pulsarceramic.com/" target="_new">www.pulsarceramic.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/vita.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Vita Granito</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Vita Granito</h3>
                                <div class="image">
                                    <img src="assets/img/brands/vita.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Dreams pass into the reality of action. From the actions stems the dream again; And this interdependence produces the highest form of living". We've never failed to surprise ourselves and our people.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.vitagranito.com/" target="_new">www.vitagranito.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/bej.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">BEJ Ceramic</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">BEJ Ceramic</h3>
                                <div class="image">
                                    <img src="assets/img/brands/bej.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Bej Ceramic is a Ceramic tiles manufacturing company based in Gujarat. We have India's largest and most creative range of 16 x 16 Ceramic floor tiles. We have wide spread network of Dealers and Retailers spread across length and breath of country.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.bejceramic.com" target="_new">www.bejceramic.com</a></div>
                                </div>

                            </div><!-- .employee-hover -->
                        </div><!-- .employee
                              
                        
                        --><div class="col-sm-2 col-md-2 employee rotation">
                            <div class="default">
                                <div class="image">
                                    <img src="assets/img/brands/ramco.png" alt="" title="" width="270" height="270">
                                </div>
                                <div class="description">
                                    <div class="vertical">
                                        <h3 class="name">Ramco ceramic</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="employee-hover">
                                <h3 class="name">Ramco ceramic</h3>
                                <div class="image">
                                    <img src="assets/img/brands/ramco.png" alt="" title="" width="270" height="270">
                                </div>
                                <div>
                                    <p>Ramco Ceramic, since its foundation in the year 2000, has been moving forward on many fronts to capitalize on solid growth opportunities to improve its operating efficiency and to sharpen its business portfolio’s focus.</p>
                                    <div class="contact"><b>Website: </b><a href="http://www.ramcoceramic.in/" target="_new">www.ramcoceramic.in</a></div>
                                </div>
                            </div><!-- .employee-hover -->
                        </div><!-- .employee -->
                        <div class="clearfix"></div>
                    </div>
                </div>
                
            </article><!-- .content -->
        </div>
    </div><!-- .container -->
</section><!-- #main -->
<script>
    if (!navigator.userAgent.match(/iPad|iPhone|Android/i)) {
        $('.product, .employee')
                .hover(function(event) {
                    event.preventDefault();

                    $(this).addClass('hover');
                }, function(event) {
                    event.preventDefault();

                    $(this).removeClass('hover');
                });
    }

</script>