<div>
    <div class="carousel-box load overflow" data-carousel-autoplay="true">
        <div class="title-box">
            <a class="next" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
                </svg>
            </a>
            <a class="prev" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
                </svg>
            </a>
            <h2 class="title">Our Brand</h2>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="carousel gallery">
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\cera.png" width="270" height="135" alt="CERA">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\johnson.png" width="270" height="135" alt="Johnson">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\parryware.png" width="270" height="135" alt="ParryWare">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\sunraj.png" width="270" height="135" alt="Sunraj">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\somany.png" width="270" height="135" alt="Somany">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\ultra.png" width="270" height="135" alt="Ultra">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\vita.png" width="270" height="135" alt="Vita">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\glare.png" width="270" height="135" alt="Glare">
                </div>
                <div class="col-sm-3 col-md-2">
                        <img src="assets\img\brands\brandscarasol\ramco.png" width="270" height="135" alt="Ramco">
                </div>
                
                
            </div>
        </div>
    </div>
</div>